{erl_opts, [debug_info]}.
{cover_enabled, true}.
{plugins, [
    {rebar3_codecov, "0.3.0"}
]}.
{project_plugins, [erlfmt]}.
{minimum_otp_vsn, "24.0"}.
{deps, [
    {ec_utils, {git, "https://github.com/hanssv/ec_utils.git", {branch, "master"}}},
    {hd_keys, {git, "https://github.com/philipcristiano/hd_keys.git", {tag, "2023.03.16"}}},
    {opentelemetry_api, "~> 1.2.0"}
]}.

{overrides, []}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [btcau]},
    {config, "sys.config"}
]}.

{provider_hooks, [
    {post, [{ct, {codecov, analyze}}]},
    {post, [{eunit, {codecov, analyze}}]}
]}.
